body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f6fa;
}

table {
  margin-top: 55px;
  width: 70%;
}

th.no {
  width: 20%;
}

th.name {
  width: 40%;
}

th.email {
  width: 40%;
}
